aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
bcrypt==5.0.0
click==8.3.1
ecdsa==0.19.1
fastapi==0.124.0
greenlet==3.3.0
grpcio==1.76.0
h11==0.16.0
idna==3.11
numpy==2.3.5
pandas==2.3.3
passlib==1.7.4
protobuf==6.33.2
pyasn1==0.6.1
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.12.0
pymysql==1.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.20
pytz==2025.2
rsa==4.9.1
six==1.17.0
sqlalchemy==2.0.44
starlette==0.50.0
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
uvicorn==0.38.0
